@charset "utf-8";

.heroCenterBound{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroCenter{
    z-index: 4;
    width: 75%;
}

.heroImg{
    position: absolute;
    z-index: 3;
    background: url('res/collage.webp') center/contain repeat-y;
    height: 450vh;
    width: 70vw;
    animation: hero 38.2s linear infinite;
}

.heroLogo{
    z-index: 2;
    position: absolute;
    background: url(res/soulBackground.webp) center/cover;
    height: 100vh;
    width: 150vw;
    overflow: hidden;
}

.heroTxt{
    color: var(--soulBright);
    font-size: clamp(8vmax, 10vw ,12vmax);
    line-height: 27.5vh;
    font-weight: bold;
    z-index: 3;
    position: relative;
    margin-left: 32.5vw;
    width: 30vw;
}

.pane{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    background-color: var(--soulLightBlue);
    overflow: hidden;
}

.painContain{
    z-index: 1;
    height: 110vh;
}

.shopPane{
    background-color: var(--soulLightBlue);
    z-index: 4;
    height: auto;
}
#shop{
    position: absolute;
    top: -20vh;
}

.separatorLightDark{
    height: 10vh;
    width: 100vw;
    background: linear-gradient(0deg, var(--soulLightBlue) 0%, var(--soulDarkBlue) 100%);
}

.separatorDarkLight{
    height: 10vh;
    width: 100vw;
    background: linear-gradient(0deg, var(--soulDarkBlue) 0%, var(--soulLightBlue) 100%);
    z-index: 4;
}

.separatorHeroShop{
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 90vh;
    z-index: 4;
    background: linear-gradient(0deg, var(--soulLightBlue) 0%, rgba(0,0,0,0) 100%)
}

.shopOverlay{
    background-color: var(--soulDark);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all .382s ease-in-out;
}
.shopTile:hover .shopOverlay{
    visibility: visible;
    opacity: .95;
}

.shopTileDetails{
    color: var(--soulBright);
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 60%;
    padding: 10%;
    overflow: wrap;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: all .382s ease-in-out;
    font-size: 1rem;
    font-weight: bold;
    pointer-events: none;
}
.shopTile:hover .shopTileDetails{
    left: 0;
    visibility: visible;
    opacity: 1;
}
.shopTile .shopLink{
    position: absolute;
    background-color: var(--soulBright);
    color: var(--soulDark) !important;
    font-weight: bold;
    transition: all .382s ease-out;
    width:80%;
    height: 0vw;
    top: 80%;
    margin-left: 10%;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopTile:hover .shopLink{
    height: 12.5%;
    visibility: visible;
    opacity: 1;
}
.shopTile:hover .shopLink:hover{
    color: var(--soulBright) !important;
}

.shopLink{
    background-color: var(--soulBright);
    color: var(--soulDark) !important;
    font-weight: bold;
    transition: all .382s ease-out;
}

.shopLink:hover{
    background-color: var(--soulDarkBlue);
    color: var(--soulBright);
}

.bioText{
    color: var(--soulBright);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

.footer{
    display: flex;
    height: 10vh;
    background-color: var(--soulDarkBlue);
    justify-content: center;
    align-items: center;
}

@keyframes hero {
    from { transform: translate(0, 0px); }
    to   { transform: translate(0, -202.5vh); }    
  }