@charset "utf-8";

.noselect { /* Clicking rapidly will highlight text. This stops that. */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Edge, Opera and Firefox */
}
.nav-side{
    color: var(--soulBright);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5vmax;
    display: flex;
    justify-content: left;
    margin: 1vh;
    width: 40vw;
    line-height: normal;
}
.navbar-toggler i{
    color: var(--soulBright);
    font-size: 4vmax;
}
.nav-inside:hover, a.nav-link:hover{
    color: var(--soulWhite);
}

.heroImg{
    position: absolute;
    background: url('res/collage.webp') center/contain repeat-y;
    margin-left: 10vw;
    margin-right: 60vw;
    height: 400vh;
    width: 30vw;
    animation: hero 38.2s linear infinite;
}

.heroTxt{
    color: var(--soulBright);
    justify-content: center;
    align-items: center;
    font-size: 12vmax;
    line-height: 10vmax;
    margin-top: 25vh;
    margin-left: 45vw;
    font-weight: bold;
}

.pane{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 105vh;
    scroll-behavior: smooth;
    background-color: var(--soulLightBlue);
    overflow: hidden;
}

.separatorLightDark{
    height: 10vh;
    width: 100vw;
    background: linear-gradient(0deg, var(--soulLightBlue) 0%, var(--soulDarkBlue) 100%);
}

.separatorDarkLight{
    height: 10vh;
    width: 100vw;
    background: linear-gradient(0deg, var(--soulDarkBlue) 0%, var(--soulLightBlue) 100%);
}

.footer{
    display: flex;
    height: 10vh;
    background-color: var(--soulDarkBlue);
    justify-content: center;
    align-items: center;
}

@keyframes hero {
    from { transform: translate(0, 0px); }
    to   { transform: translate(0, -202.5vh); }    
  }