@charset "utf-8";

.noselect { /* Clicking rapidly will highlight text. This stops that. */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Edge, Opera and Firefox */
}
.nav-side{
    color: var(--soulBright);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5vmax;
    display: flex;
    justify-content: left;
    margin: 1vh;
    width: 40vw;
    line-height: normal;
}
.navbar-toggler i{
    color: var(--soulBright);
    font-size: 4vmax;
}
.nav-inside:hover, a.nav-link:hover{
    color: var(--soulWhite);
}

@keyframes hero {
    from { transform: translate(0, 0px); }
    to   { transform: translate(0, -202.5vh); }    
  }