@charset "utf-8";
@font-face{
    font-family: 'Antapani';
    src: url('res/font/antapani-extrabold-webfont.woff') format('woff'),
         url('res/font/antapani-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* CHANGE COLORS HERE */
:root{
	--bmGreen: rgb(0, 100, 66);
    --bmGold: rgb(217, 208, 162);
    --bmLight: #fff;
    --bmDark: #222;
}

html{
    scroll-behavior: smooth;
    transition: all .382s ease-in-out;
}
a{
    text-decoration: none !important;
}
a:link{
    color: var(--bmGreen);
}
a:hover{
    color: var(--bmDark);
}
a:active{
    color: var(--bmGreen);
}
a:visited{
    color: var(--bmGold);
}


/*******************************************************************/
/*                           Font Stuff                            */
/*******************************************************************/
.fontHeader{
    color: #222;
    font-family: 'Antapani', Helvetica, sans-serif;
    font-size: 3vw;
}
.fontSubHeader{
    color: var(--document-text-color);
    font-family: 'Antapani', Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
}
.fontEvent{
    color: var(--document-text-color);
    font-family: 'museo-sans', sans-serif;
}
.fontInfo{
    font-family: 'Antapani', Helvetica, sans-serif;
    font-size: clamp(15px, 1.15vmax, 40px);
    color: #9F9F9F
}